body {
    font-family: 'Roboto Slab', serif;
    margin: 0;
    padding: 0;
    background: url(../Images/backgroundimg.jpg);
    background-size: cover;
    background-blend-mode: darken;
}

#form-section {
    width: 50%;
    margin: 50px auto; /* Center the form */
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
}

.h1-tag {
    text-align: center;
    margin-top: 0;
}

.form-content-section {
    width: 100%;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    font-weight: bold;
}

.form-control {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.btn-primary {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
}

.btn-primary:hover {
    background-color: #0056b3;
}

.myclass {
    border-radius: 20px;
}
